@tailwind components;
@tailwind base;
@tailwind utilities;

body {
  @apply text-primary-grey-200;
}

.dynamic-grid {
  @apply
  grid
  grid-cols-4
  gap-4
  md:grid-cols-8
  md:gap-6
  lg:grid-cols-12
  lg:gap-8
}
